
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="modal fade" id="Login">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Login</h3>

                </div>
                <div class="modal-body">
                    @{if (Session["UserID"] == null) { Html.RenderAction("LogIn"); } }
                </div>
                <div class="modal-footer">

                </div>

            </div>

        </div>

    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["UserID"] != null)
                {

                    string title = Session["UserName"].ToString();
                    title = title + "'s Tasks";

                    @Html.ActionLink(title, "ViewTasks", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Add Task", "Tasks", "Home")</li>
                    }
                    @if (Session["UserID"] == null)
                    {
                        <li>@Html.ActionLink("Sign Up", "Register", "Home")</li>
                    }
                    @if (Session["UserID"] == null)
                    {
                        <li><a href="#" data-toggle="modal" data-target="#Login">Login</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Logout", "LogOut", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaskMngr</p>
            @if (Session["UserID"] != null)
            {
                <p>Welcome @Session["UserName"].ToString()</p>
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
